*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$mainColor: #8E1600;

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: $direction;
}

.header__logo{
    text-align: center;
    padding: 6px;
    font-size: 0.9rem;
    h1{
        font-family: 'Pacifico';
        color: white;
    }
    background: $mainColor;
}

.header__img{
    height: 100vh;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::before{
        content: '';
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.header__img-text{
    display: inline-flexbox;
    justify-content: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1, p{
        color: white;
        font-family: 'Source Sans Pro', Arial;
        margin: 8px 0;
        
    }
    h1{
        font-size: 3rem;
    }
    p{
        font-style: italic;
        font-size: 1.4rem;
    }
}

.items{
    padding: 30px;
    @include flexCenter(column);

    h3{
        font-family: 'Poppins', arial, helvetica;
        font-size: 1.5rem;
        padding: 20px;
        margin: 30px 0;
        border-bottom: 3px solid $mainColor;
    }
}

.items__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-gap: 10px;
    margin: 30px 0;

}
.item{
    width: auto;
    height: 380px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px lightgrey;
    img{
        width: 100%;
        height: 320px;
        object-fit: cover;
    }
}
.item__info-wrapper{
    @include flexCenter(row);
    justify-content: space-around;
    padding: 10px;
    p{
        font-family: 'Poppins', Arial;
        font-weight: bold;
        font-size: 1.2rem;
    }
    button{
        background: $mainColor;
        border: none;
        color: white;
        font-size: 1.3rem;
        width: 60px;
        padding: 5px;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        transform: scale(1.0);
        transition: transform 0.3s ease-in-out;
        &:active{
            transform: scale(0.9);
        }
    }
}
